#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean

override_dh_prepare:
	dh_prepare

override_dh_install:
	./fresh.sh
	mkdir -p debian/abraflexi-client
	mv -f data/*	debian/abraflexi-client
	./mkico.sh
	convert -font helvetica -pointsize 30 -draw "text 300,420 '`cat debian/abraflexi-client/usr/share/abraflexi/lib/VERSION.txt`'" debian/abraflexi-client/usr/share/icons/hicolor/512x512/abraflexi.png debian/abraflexi-client/usr/share/abraflexi/abraflexi-splash.png
	dh_install

override_dh_strip_nondeterminism:
	echo dh_strip_nondeterminism skipped

#override_dh_clean:
#	debconf-updatepo
#	dh_clean
