#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean

override_dh_prepare:
	dh_prepare

override_dh_install:
	mv origin/usr/share/flexibee/bin/flexibee2xml origin/usr/share/flexibee/bin/abraflexi2xml
	mv origin/usr/share/applications/flexibee.desktop origin/usr/share/applications/abraflexi.desktop
	mv origin/usr/share/mime/packages/flexibee.xml	origin/usr/share/mime/packages/abraflexi.xml
	mv origin/usr/share/mimelnk/application/x-flexibee-backup.desktop		origin/usr/share/mimelnk/application/x-abraflexi-backup.desktop
	mv origin/usr/share/mimelnk/application/x-flexibee-connection.desktop	origin/usr/share/mimelnk/application/x-abraflexi-connection.desktop
	mv origin/usr/share/mimelnk/application/x-flexibee-license.desktop		origin/usr/share/mimelnk/application/x-abraflexi-license.desktop
	mv origin/usr/share/mimelnk/application/x-flexibee-query.desktop		origin/usr/share/mimelnk/application/x-abraflexi-query.desktop
	mv origin/usr/share/mimelnk/application/x-flexibee-report.desktop		origin/usr/share/mimelnk/application/x-abraflexi-report.desktop
	mv origin/usr/share/mimelnk/application/x-flexibee-xml.desktop		origin/usr/share/mimelnk/application/x-abraflexi-xml.desktop
	sed -i 's/flexibee/abraflexi/g' origin/usr/share/mimelnk/application/*
	sed -i 's/flexibee/abraflexi/g' origin/usr/share/mime/packages/abraflexi.xml
	mv origin/usr/share/pixmaps/flexibee.png	origin/usr/share/pixmaps/abraflexi.png
	dh_install
	./mkico.sh
	convert -font helvetica -pointsize 30 -draw "text 300,420 '`cat debian/abraflexi-client/usr/share/abraflexi/lib/VERSION.txt`'" debian/abraflexi-client/usr/share/icons/hicolor/512x512/abraflexi.png debian/abraflexi-client/usr/share/abraflexi/abraflexi-splash.png

override_dh_strip_nondeterminism:
	echo dh_strip_nondeterminism skipped

#override_dh_clean:
#	debconf-updatepo
#	dh_clean
